aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
anyio==4.3.0
art==6.2
attrs==24.2.0
blinkpy==0.23.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
ffpb==0.4.1
filelock==3.13.1
frozenlist==1.4.1
fsspec==2024.2.0
gradio_client==0.10.0
h11==0.14.0
httpcore==1.0.3
httpx==0.26.0
huggingface-hub==0.20.3
idna==3.6
imageio==2.34.2
imageio-ffmpeg==0.5.1
moviepy==1.0.3
multidict==6.1.0
numpy==2.0.1
packaging==23.2
pillow==10.4.0
proglog==0.1.10
pydub==0.25.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.1
requests==2.31.0
setuptools==72.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
text-unidecode==1.3
tqdm==4.66.2
typing_extensions==4.9.0
urllib3==2.2.0
websockets==11.0.3
yarl==1.11.1
yt-dlp-sample-plugins @ https://github.com/yt-dlp/yt-dlp-sample-plugins/archive/master.zip#sha256=737bf8cbe4013ffc09268b0d70bc87f9e63207167d1174141c8a86b6ae8e228e
